body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    color: #f75454;
    font-weight: 600;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    padding: 100px;
    border: 5px solid #f75454;
}

.welcome-text > span {
    font-size: 2.1rem;
    text-shadow: 3px 3px #fbbcbc;
}

.small-welcome-text {
    color: #f75454;
    font-size: 0.5rem;
    font-weight: bold;
    margin-left: 6px;
    margin-bottom: 1px;
}

*{
    font-family: 'Helvetica', sans-serif !important;
}

h1{
    text-transform: uppercase;
    font-weight: bold !important;
}

.book-card{
    padding: 10px;
}

.card-title{
    height: 38px;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-text{
    font-size: 12px;
}

.card-footer > del{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-footer > strong{
    font-size: 16px;
}

.swiper-slide > div {
    margin-bottom: 50px;
}

.swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-left: 10px;
    border-radius: 30px;
    color: #fff !important;
    fill: black !important;
    stroke: black !important;
}

.swiper-button-next {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-right: 10px;
    border-radius: 30px;
    color: #fff !important;
    fill: black !important;
    stroke: black !important;
}

.book-list-container {
    margin: 0px;
}
